<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <managedBuildRevision
            fileVersion="4.0.0">
      </managedBuildRevision>
      <toolChain
            configurationEnvironmentSupplier="com.android.ide.eclipse.adt.cdt.internal.build.NDKEnvSupplier"
            id="com.android.toolchain.gcc"
            isAbstract="false"
            name="Android GCC">
         <targetPlatform
               binaryParser="org.eclipse.cdt.core.ELF"
               id="com.android.targetPlatform"
               isAbstract="false">
         </targetPlatform>
         <builder
               cleanBuildTarget="clean"
               command="ndk-build"
               commandLauncher="com.android.ide.eclipse.adt.cdt.internal.build.NDKCommandLauncher"
               id="com.android.builder"
               isAbstract="false"
               isVariableCaseSensitive="false"
               name="Android Builder">
         </builder>
         <tool
               id="com.android.gcc.compiler"
               isAbstract="false"
               name="Android GCC Compiler"
               natureFilter="both">
            <option
                  browseType="directory"
                  id="com.android.gcc.option.includePath"
                  isAbstract="false"
                  resourceFilter="all"
                  valueType="includePath">
            </option>
            <inputType
                  id="com.android.gcc.inputType"
                  scannerConfigDiscoveryProfileId="com.android.AndroidPerProjectProfile"
                  sources="c,cpp">
            </inputType>
         </tool>
      </toolChain>
   </extension>
   <extension
         id="com.android.AndroidPerProjectProfile"
         name="Android Per Project Profile"
         point="org.eclipse.cdt.make.core.ScannerConfigurationDiscoveryProfile">
      <scannerInfoCollector
            class="com.android.ide.eclipse.adt.cdt.internal.discovery.NDKScannerInfoCollector"
            scope="project">
      </scannerInfoCollector>
   </extension>
   <extension
         point="org.eclipse.cdt.core.templateProcessTypes">
      <processType
            name="SetFolders"
            processRunner="com.android.ide.eclipse.adt.cdt.internal.templates.SetFolders">
         <simple
               name="projectName">
         </simple>
         <simpleArray
               name="sourceFolders">
         </simpleArray>
         <simpleArray
               name="outputFolders">
         </simpleArray>
      </processType>
      <processType
            name="SimpleFile"
            processRunner="com.android.ide.eclipse.adt.cdt.internal.templates.SimpleFile">
         <simple
               name="projectName">
         </simple>
         <complexArray
               name="files">
            <baseType>
               <simple
                     name="source">
               </simple>
               <simple
                     name="destination">
               </simple></baseType>
         </complexArray>
      </processType>
   </extension>
   <extension
         point="org.eclipse.cdt.core.templates">
      <template
            id="com.android.ide.eclipse.adt.cdt.addNDKSupport"
            location="templates/addNDKSupport.xml"
            projectType="none">
      </template>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.android.ide.eclipse.preferences.main"
            class="com.android.ide.eclipse.adt.cdt.internal.preferences.NDKPreferencePage"
            id="org.eclipse.cdt.android.page"
            name="NDK">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.android.ide.eclipse.adt.cdt.projectContribution"
            objectClass="org.eclipse.core.resources.IProject">
         <visibility>
            <and>
               <objectState
                     name="projectNature"
                     value="com.android.ide.eclipse.adt.AndroidNature">
               </objectState>
               <not>
                  <objectState
                        name="projectNature"
                        value="org.eclipse.cdt.core.cnature">
                  </objectState>
               </not>
            </and>
         </visibility>
         <action
               class="com.android.ide.eclipse.adt.cdt.internal.actions.AddNativeAction"
               enablesFor="1"
               id="org.eclipse.cdt.android.action1"
               label="Add Native Support..."
               menubarPath="com.android.ide.eclipse.adt.AndroidTools/ndk">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="com.android.ide.eclipse.adt.cdt.launchConfigurationType"
            modes="debug"
            name="Android Native"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="com.android.ide.eclipse.adt.cdt.internal.launch.NDKLaunchConfigurationDelegate"
            id="com.android.ide.eclipse.adt.cdt.launchDelegate"
            modes="debug"
            name="Android Native"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer"
            type="com.android.ide.eclipse.adt.cdt.launchConfigurationType">
      </launchDelegate>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.android.ide.eclipse.adt.cdt.launchConfigurationType"
            icon="icons/obj16/c_app.gif"
            id="com.android.ide.eclipse.adt.cdt.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.android.ide.eclipse.adt.cdt.internal.launch.NDKLaunchConfigurationTabGroup"
            id="com.android.ide.eclipse.adt.cdt.launchConfigurationTabGroup"
            type="com.android.ide.eclipse.adt.cdt.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="com.android.ide.eclipse.adt.cdt.internal.launch.NDKMainTab"
            group="com.android.ide.eclipse.adt.cdt.launchConfigurationTabGroup"
            id="com.android.ide.eclipse.adt.cdt.mainTab"
            name="Main">
      </tab>
      <tab
            class="org.eclipse.debug.ui.sourcelookup.SourceLookupTab"
            group="com.android.ide.eclipse.adt.cdt.launchConfigurationTabGroup"
            id="com.android.ide.eclipse.adt.cdt.sourceTab"
            name="Source">
         <placement
               after="com.android.ide.eclipse.adt.cdt.mainTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.debug.ui.CommonTab"
            group="com.android.ide.eclipse.adt.cdt.launchConfigurationTabGroup"
            id="com.android.ide.eclipse.adt.cdt.commonTab"
            name="Common">
         <placement
               after="com.android.ide.eclipse.adt.cdt.sourceTab">
         </placement>
      </tab>
   </extension>

</plugin>
